 <h1>Navegacion</h1>
   
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione eius ab, nulla facilis, saepe, iure suscipit veniam eum perferendis quibusdam fugiat molestias minima explicabo. Aperiam aliquid aut odio sunt consequuntur.</p>

<h1>Footer</h1>